/* ============================================================
   RESET DO CONTAINER ROOT
============================================================ */

html, body, #root {
  width: 100%;
  height: auto;
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: block;
  padding: 0;
  background: none;
  text-align: left;
}

/* Buttons globais (não afetam os da home!) */
button {
  cursor: pointer;
  font-family: inherit;
  background: none;
  border: none;
  border-radius: 6px;
  transition: background 0.3s ease;
}
